{% extends '@ContaoTwigTemplatesBootstrap3/forms/form_row_double_bs3.html.twig' %}

{% block label %}
    {% if strLabel|default %}
        <label for="ctrl_{{ strId }}"{{ strClass|default ? ' class="' ~ strClass ~ '"' }}>{{ strLabel }}
        {% if arrConfiguration.mandatory|default() %}
            <span class="sr-only">{{ arrConfiguration.mandatoryField }} </span><span class="mandatory">*</span>
        {% else %}>
            {{ strLabel }}
        {% endif %}
        </label>
    {% endif %}
{% endblock %}
{% block field %}
    {% block error %}
        {% if hasErrors|default %}
            <p class="error">{{ errorAsString }}</p>
        {% endif %}
    {% endblock %}

    <input type="password" name="{{ strName }}" id="ctrl_{{ strId }}" class="form-control text password{% if strClass|default %} {{ strClass }}{% endif %}" value=""{{ arrConfiguration.attributes|default }}>

{% endblock %}

{% block label2 %}
    {% if arrConfiguration.confirmLabel %}
    <label for="ctrl_{{ strId }}_confirm" class="confirm{{ strClass|default ? ' class="' ~ strClass ~ '"' }}">
        {{ arrConfiguration.confirmLabel }}
        {% if arrConfiguration.mandatory|default() %}
            <span class="sr-only">{{ arrConfiguration.mandatoryField }} </span><span class="mandatory">*</span>
        {% else %}>
            {{ arrConfiguration.confirmLabel }}
        {% endif %}
    </label>
    {% endif %}
{% endblock %}

{% block field2 %}
    <input type="password" name="{{ strName }}_confirm" id="ctrl_{{ strId }}_confirm" class="form-control text password{{ strClass|default ? ' class="' ~ strClass ~ '"' }}" value=""{{ arrConfiguration.attributes|default }}>
{% endblock %}
